<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/fotos/add" method="post">
        <label>url</label>
        <input type="text" name="url" placeholder="URL">
        <label>titulo</label>
        <input type="text" name="titulo" placeholder="titulo">
        <input type="submit" value="Agregar foto">
    </form>
</body>
</html>