<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/fotos">
        <button>Total fotos</button>
      </a>
      <a href="/registro">
        <button>Registrarme</button>
      </a>
      <a href="/login">
        <button>Iniciar sesion</button>
      </a>
      <a href="/fotos/add">
        <button>agregar foto</button>
      </a>
      <a href="/fotos/menosvotadas">
        <button>Fotos menos votadas</button>
      </a>
      <a href="/fotos/masvotadas">
        <button>Fotos mas votadas</button>
      </a>
      <a href="/miscoments">
        <button>Fotos que he comentado</button>
      </a>
      <a href="/logout" style="margin-left:20rem">
        <button>CERRAR SESION</button>
      </a>
    </header>
    {{{body}}}
  </body>
</html>
