<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edita tu foto !</h1>
    <form action="/fotos/update/{{pasar.id}}" method="post">
        <label>url</label>
        <input type="text" name="url" placeholder="URL" value="{{pasar.url}}">
        <label>titulo</label>
        <input type="text" name="titulo" placeholder="titulo" value="{{pasar.titulo}}">
        <input type="submit" value="Cambiar foto">
    </form>
</body>
</html>